
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600;700&display=swap');

header {
    border-radius: 0 0 30px 30px;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #fff;
    width: 100%;
    background: #2C2C2C;
    height: 800px;
}

.container {
    max-width: 72%;
    margin: 0 auto;
}

/*Start Navigation panel*/

.gamburgerBtn {
    visibility: hidden;
}

.heading, nav ul {
    display: flex;
    flex-flow: row nowrap;
}

.heading {
    align-items: start;
    padding-top: 50px;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
}

nav {
    flex: 65;
}

a {
    text-decoration: none;
    color: #fff;
}
li, a {
    display: block;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    flex: 10;
    font-size:35px;
    font-weight: 400;
}

li a, .hire {
    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
	padding: 1em 0;
	color: #fff;
}

.border {
    padding-bottom: 5px;
    margin: 0 auto;
    width: 6em;
    border-bottom: solid #2060F6 4px;
}

nav ul li:nth-of-type(1n+2) {
	margin-left: 32px;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .hire, .logo {
        visibility: hidden;
    }

    li a {
        font-size: 16px;
    }

    nav ul {
        display: block;
        flex-flow: column wrap;
        width: 300px;
        margin-left: 20px;
        position: absolute;
        top: 3px;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-500px, 0);
        transition: transform 0.3s ease;
    }
    
    nav ul li:nth-of-type(1n+2) {
        margin-left: 0;
    }

    nav ul.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    #gamburgerBtn {
        position: absolute;
        top: 22px;
        left: 20px;
        visibility: visible;
        display: block;
        width: 40px;
        height: 35px;
    }

    .b1, .b2, .b3 {
        width: 36px;
        height: 5px;
        background-color: #fff;
        margin: 5px 0;
        border-radius: 5px;
        transition: 0.3s;
    }

    .change .b1 {
        transform: rotate(-45deg) translate(-6px, 7px);
    }
    .change .b3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .change .b2 {opacity: 0;}
}

@media screen and (max-width: 1177px) {
    .container {
        max-width: 85%;
        margin: 0 auto;
    }
    .heading {
        padding-top: 25px;
    }
}

@media screen and (max-width: 900px) {
    li a, .hire {
        font-size: 10px;
        letter-spacing: 2px;
    }
    .logo {
        font-size: 25px;
    }
    .border{
        width: 6em;
    }
    nav ul li:nth-of-type(1n+2) {
        margin-left: 16px;
    }
}

/*End Navigation panel*/

.intro, .intro div:first-child {
    display: inline-block;
}

.intro h1 {
    padding-top: 27%;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

}

.intro p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.show {
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	background: #2060F6;
	border-radius: 8px;
	display: block;
	width: 226px;
	padding: 14px 0;
	margin-top: 83px;
}

.show a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

/*Slider*/

.slides {
    position: absolute;
    right: 0px;
    top: 140px;
    width: 667px;
    height: 660px;
}

.slides, .back-img {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.controls, .quote {
    position: absolute;
}

.controls {
    bottom: 60px;
    left: 48px;
}

.quote {
    left: 144px;
    bottom: 48px;
}

.left-button, .right-button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 0;
}

.back-img {
    background: no-repeat center top/cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 0 30px 0;
  }

  .quote p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }

  .quote h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }