
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600;700&display=swap');

body {
    background: #E5E5E5;
}

header {
    border-radius: 0 0 30px 30px;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #fff;
    width: 100%;
    background: #2C2C2C;
    height: 800px;
}

.container {
    max-width: 72%;
    margin: 0 auto;
}

/*Start Navigation panel*/

.gamburgerBtn {
    visibility: hidden;
}

.heading, nav ul {
    display: flex;
    flex-flow: row nowrap;
}

.heading {
    align-items: start;
    padding-top: 50px;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
}

nav {
    flex: 65;
}

a {
    text-decoration: none;
    color: #fff;
}
li, a {
    display: block;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    flex: 10;
    font-size:35px;
    font-weight: 400;
}

li a, .hire {
    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
	padding: 1em 0;
	color: #fff;
}

.border {
    padding-bottom: 5px;
    margin: 0 auto;
    width: 6em;
    border-bottom: solid #2060F6 4px;
}

nav ul li:nth-of-type(1n+2) {
	margin-left: 32px;
}

/*End Navigation panel*/

.intro, .intro div:first-child {
    display: inline-block;
}

.intro>p {
    width: 382px;
}

.intro h1 {
    padding-top: 27%;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;

}

.intro p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.show {
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	background: #2060F6;
	border-radius: 8px;
	display: block;
	width: 226px;
	padding: 14px 0;
	margin-top: 83px;
}

.show a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

/*Slider*/

.slides {
    position: absolute;
    right: 0px;
    top: 140px;
    width: 667px;
    height: 660px;
}

.slides, .back-img {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.8
    }
    to {
        opacity: 1
    }
}

.controls, .quote {
    position: absolute;
}

.controls {
    bottom: 60px;
    left: 48px;
}

.controls>button:hover {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.49);
    -moz-box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.49);
    box-shadow: 0px 0px 15px 2px rgba(34, 60, 80, 0.49);
    background-color: rgb(207, 206, 206);
    transition: 0.5s;
}

.quote {
    left: 144px;
    bottom: 48px;
    background-color: rgba(167, 166, 164, 0.5);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.49);
    -moz-box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.49);
    box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.49);
    padding-left: 5px;
    padding-right: 5px;
}

.left-button, .right-button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 0;
    transition: 0.5s;
}

.back-img {
    background: no-repeat center top/cover;
    height: 100%;
    width: 100%;
    border-radius: 30px 0 30px 0;
}

.quote p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    opacity: 1;
}

.quote h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 1;
}

  /*main*/

#about h1 {
    color: #253757;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    width: fit-content(754px);
    margin: 148px auto 16px auto;
}

#about p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6C788B;
    width: fit-content(754px);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 148px;
    
}

.expertise {
    background-color: #fff;
    border-radius: 30px;
}

.expertise>.container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.expertise_child {
    display: flex;
    flex-flow: column wrap;
}

.expertise_child img {
    display: inline-block;
    width: 166px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.expertise_child>h4, .expertise_child>p {
    display: inline-block;
    width: 264px;
    text-align: center;
}

.expertise>div>h1 {
    color: #253757;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    padding-top: 128px;
    margin-bottom: 64px;
}

.expertise_child>h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin-top: 40px;
}

.expertise_child>p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6C788B;
    margin-top: 16px;
    margin-bottom: 134px;
}

#process {
    display: flex;
}

.right_half {
    display: flex;
}

.arrow {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    border: 0;
    transition: 0.5s;
    background-color: #2060F6;
    padding: 12px;
    margin: 32px 28px 32px 32px;
}

.arrow:hover {
    border-radius: 24px;
    padding: 16px;
    margin: 28px 24px 28px 28px;
}

.arrow>img {
    display: block;
    margin: auto;
    
}

.arrow_link {
    display: flex;
    justify-content: start;
    align-items: center;
}

.arrow_link a {
    display: inline-block;
    color: #334563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}


.b001>span {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 46px;
    height: 24px;
    left: 847px;
    color: #2060F6;
    border-radius: 23px;
    text-align: center;
    background-color: #E5E5E5;;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 24px 32px;
}

.b001>p {
    width: 200px;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6C788B;
    margin-left: 32px;
}

.b001 {
    border-radius: 16px;
    background-color: #fff;
    
    margin-bottom: 30px;
    padding-top: 30px;
}

.b003_004 {
    padding-top: 148px;
}

.b001_002 {
    padding-top: 280px;
    margin-right: 30px;
}

.left_half {
    width: 36vh;
}




































@media screen and (max-width: 1242px) {
    .slides {
        width: 467px;
        height: 460px;
    }
    header {
        height: 600px;
    }
    .intro h1 {
        padding-top: 15%;
    }
    .container {
        max-width: 85%;
        margin: 0 auto;
    }
    .heading {
        padding-top: 25px;
    }
}

@media screen and (max-width: 948px) {
    .expertise_child>p {
        margin-bottom: 34px;
    }
    .expertise_child>h4 {
        margin-top: 15px;
    }
    .intro>p {
        width: 250px;
    }
}

@media screen and (max-width: 931px) {
    .expertise>.container>div {
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 900px) {
    li a, .hire {
        font-size: 10px;
        letter-spacing: 2px;
    }
    .logo {
        font-size: 25px;
    }
    .border{
        width: 6em;
    }
    nav ul li:nth-of-type(1n+2) {
        margin-left: 16px;
    }
    .slides {
        width: 367px;
        height: 360px;
    }
    header {
        height: 500px;
    }
    
    .intro h1 {
        font-size: 40px;
        line-height: 45px;
        padding-top: 10%;
    }
    .show {
        margin-top: 35px;
    }
    .quote {
        width: 160px;
        bottom: 39px;
    }
}

@media screen and (max-width: 704px) {
    .slides {
        display: none;
    }
    .intro>p {
        width: 350px;
        text-align: center;
        font-size: 16px;
    }
    .show {
        margin-left: auto;
        margin-right: auto;
    }
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        display: block;
    }
    .intro>h1 {
        text-align: center;
    }
    .heading {
        height: 40px;
    }
    header {
        height: 400px;
    }

}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    #about {
        padding-left: 10px;
        padding-right: 10px;
    }

    #about h1 {
        margin-top: 20px;
    }

    #about p {
        margin-bottom: 20px;
    }

    .expertise>div>h1 {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .intro>h1 {
        padding-top: 0px;
        text-align: center;
    }

    .heading {
        height: 40px;
    }

    header {
        height: 350px;
    }

    .hire, .logo {
        visibility: hidden;
    }

    li a {
        font-size: 16px;
        padding-bottom: 0.5em;
    }

    nav ul {
        display: block;
        flex-flow: column wrap;
        width: 300px;
        margin-left: 20px;
        position: absolute;
        top: 3px;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-500px, 0);
        transition: transform 0.3s ease;
    }
    
    nav ul li:nth-of-type(1n+2) {
        margin-left: 0;
    }

    nav ul.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    #gamburgerBtn {
        position: absolute;
        top: 22px;
        left: 20px;
        visibility: visible;
        display: block;
        width: 40px;
        height: 35px;
    }

    .b1, .b2, .b3 {
        width: 36px;
        height: 5px;
        background-color: #fff;
        margin: 5px 0;
        border-radius: 5px;
        transition: 0.3s;
    }

    .change .b1 {
        transform: rotate(-45deg) translate(-6px, 7px);
    }
    .change .b3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .change .b2 {opacity: 0;}

    #header, #title {
        transition: 0.5s;
    }

    #header.open1 {
        height: 540px;
        transition: 0.5s;
    }
    #title.open2 {
        margin-top: 200px;
        transition: 0.5s;
    }
}